.juri-slider {
  position: relative;
  margin: 0 auto;
  max-width: 260px;

  @media (min-width: $vp-tablet) {
    max-width: 660px;
  }

  @media (min-width: $vp-tablet-big) {
    max-width: 940px;
  }

  @media (min-width: $vp-desktop) {
    max-width: 1260px;
    padding: 0 50px;
  }
}

.juri-slider__button-prev {
  left: -11px;
  top: 49%;

  @media (min-width: $vp-desktop) {
    left: -5px;
    top: 48%;
  }
}

.juri-slider__button-next {
  right: -11px;
  top: 49%;
  transform: rotate(180deg);

  @media (min-width: $vp-desktop) {
    right: -5px;
    top: 48%;
  }
}