.juri {
  padding: 40px 0;


  @media (min-width: $vp-tablet) {
    padding: 30px 0 60px;
  }

  @media (min-width: $vp-desktop) {
    padding: 100px 0;
  }
}

.juri__subtitle {
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 46px;
    font-size: 54px;
    line-height: 54px;
  }
}
